@import "../defaults/color";
@import "../defaults/breakpoints";

main{

    article{

        .resume{
            display: flex;
            justify-content: center;
        }

        section{
            margin: 15px;
            
            .workphotos{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 15px;

            img{
                width: 300px;
                border-radius: 5%;
                border: 3px solid $secondary-color;
                object-fit: cover;
                
                }
            }   
        }
    }
}

