@import "../defaults/color";
@import "../defaults/breakpoints";

@mixin inner-triangle-dimensions{
    width: 100%;
    height: 100%;
}

// Create shape for photos to be held in and assign orientation to vertical and centre
.mountain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    img{
        object-fit: cover;
        max-height: 100%;
        width: 100%;
    }
    
    // Outer triangle using clip-path to create
    .triangle {
        width: 15%;
        height: 100px;
        background-color: black;
        clip-path: polygon(52% 1%, 0% 96%, 10% 95%, 16% 96%, 26% 93%, 30% 96%, 40% 92%, 46% 97%, 53% 92%, 59% 95%, 69% 89%, 74% 95%, 80% 94%, 85% 96%, 91% 93%, 99% 95%);

        // Inner triangle and contains image
        .inner_triangle{
            @include inner-triangle-dimensions();
            background-color: $base-color;
            clip-path: polygon(52% 11%, 6% 93%, 15% 85%, 16% 92%, 27% 78%, 31% 89%, 42% 67%, 46% 89%, 50% 76%, 59% 92%, 69% 77%, 75% 90%, 81% 87%, 84% 91%, 84% 80%, 94% 92%);
        }
    }  
    .triangle2 {
        width: 30%;
        height: 100px;
        background-color: black;
        clip-path: polygon(25% 0%, 75% 0%, 100% 95%, 0% 95%);

        // Fixes image not fitting height of div container when width is made smaller
        .mountain_image2{
            height: 100%;
        }

        .inner_triangle2{
            @include inner-triangle-dimensions();
            clip-path: polygon(26% 4%, 74% 4%, 97% 91%, 2.5% 91%);
        }  
    }
    .triangle3 {
        width: 45%;
        height: 100px;
        background-color: black;
        clip-path: polygon(16% 0%, 84% 0%, 100% 95%, 0% 95%);

        .inner_triangle3 {
            @include inner-triangle-dimensions();
            clip-path: polygon(17% 5%, 83% 4%, 97.8% 90%, 2% 91%);
        }
    }  
    .triangle4 {
        width: 60%;
        height: 100px;
        background-color: black;
        clip-path: polygon(12% 0%, 88% 0%, 100% 95%, 0% 95%);

        .inner_triangle4{
            @include inner-triangle-dimensions();
            clip-path: polygon(12.7% 5%, 88% 6%, 98% 90%, 1.7% 91%);
        }
    }  
    .triangle5 {
        width: 75%;
        height: 100px;
        background-color: black;
        clip-path: polygon(9.5% 0%, 90.5% 0%, 100% 95%, 0% 95%);

        .inner_triangle5{
            @include inner-triangle-dimensions();
            clip-path: polygon(10% 6%, 89.8% 5%, 98.5% 89%, 1.5% 90%);
        }
    }  
}
