$base-color: #FEFAE0;
$primary-color: #283618;
$secondary-color: #606C38;
$third-color: #DDA15E;
$fourth-color: #BC6C25;
$mobile: 600px;

// Add a beige/sand background color to the body
body{
    margin: 0;
    background-color: $base-color;
    font-family: Arial, Helvetica, sans-serif;

    // Aligns children in column axis, and displays the footer on the bottom
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

// Add a beige/sand background color to the topnav
header{
    background-color: $base-color;
}

// Add a beige/sand background color to the footer
footer{
    background-color: $base-color;
    text-align: center;

    // Space the social media icons and give margin from bottom screen
    .social-media{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        margin-top: 10px;
        // Change size of icons
        font-size: 18px;
    }

    // Reduce space between paragraphs
    p{
        margin: 5px 0px;
    }

    // Change color of text in footer
    .copyright{
        color: $fourth-color
    }

    .info2{
        color: $third-color
    }

    // Change color of icons
    i{
        color: black;
    }
}


.topnav{
    overflow: hidden;

    // Style the hyperlinks inside the navigation bar 
    a{
        float: left;
        display: block;
        color: $primary-color;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        
        // Style the hyperlinks on hover
        &:hover{
            background-color: $secondary-color;
            color: $base-color;
        }
    }

    // Add an active class to highlight the current page
    a:active{
        background-color: $fourth-color;
        color: $base-color;
    }

    // Hide the link that should open and close the topnav on small screens
    .icon{
        display: none;
    }
}



// When the screen is less than 600 pixels wide, hide all links, except for the 
// first one ("Jeevan Ng"). Show the link that contains should open and close 
// the topnav (.icon)
@media screen and (max-width: $mobile){
    .topnav{
      
        a{

            &:not(:first-child){
                display: none;
            }
        }

        a.icon{
            float: right;
            display: block;
        }
    }

    // The responsive class is added to the topnav with Javascript when the
    // user clicks on the icon. This class makes the topnav look good on small 
    // screens (display the links vertically instead of horizontally)
    .topnav.responsive{
        position: relative;

        .icon{
            position: absolute;
            right: 0;
            top: 0;
        }
        
        a{
            float: none;
            display: block;
            text-align: left;
        }

        // Center all links except home ("Jeevan Ng") in hamburger drop down button
        .otherLinks{
            text-align: center;
        }
    }

    // Center social media icons when below 600px
    footer{

        .social-media{
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// Center social media icons on footer when above 600px wide
@media screen and (min-width: $mobile){
    footer{

        .social-media{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}